<h1 class="text-center">Looking for a creative SOULMATE?</h1>
<h2 class="text-center">If you are a music producer or a designer looking to interact, this is your place!</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h3><%=link_to 'Are you a Producer?', new_producer_registration_path %></h3>
        </div>
        <div class="col">
            <h3><%=link_to 'Are you a Designer?', new_designer_registration_path %></h3>
        </div>
    </div>
</div>