<p id="notice"><%= notice %></p>

<h1>Pending SoulMates</h1>

<% @pending.each do |pending| %>
<div class="container">
    <ul class="list-unstyled">
    <li> Name: <%=pending.track.track_name  %></li>
    <li>
        <audio id="player" controls>
            <source src="<%= url_for(pending.track.file) %>" type="audio/mp3">
        </audio>
    </li>
        <li>From: <%= pending.track.producer %></li>
    </ul>
</div>
<% end %>


