<p id="notice"><%= notice %></p>

<h1>Pending SoulMates</h1>

<% @pending.each do |pending| %>
<div class="container">
    <ul class="list-unstyled">
    <li>
        <%= image_tag(pending.work.file, width: "40%") %>
    </li>
        <li><%= pending.work.designer %></li>
    </ul>
</div>
<% end %>


